extends layout

block content
    h1 #{year} Lineup
    table
        tr
            th Group
            th Division
            th Registration Date
            th Waitlisted
            each group in groupArray
                tr
                    td= group.GroupName
                    td= group.DivisionName
                    td= group.RegistrationDate
                    td
                        input(type='checkbox',disabled, checked=(group.Waitlisted  ? 'checked' : undefined))

